html, body, #mainContainer {
  height           : 100%;
  width            : 100%;
  margin           : 0;
  padding          : 0;
  font-family      : "helvetica", sans-serif;
  background-color : silver;
}

:focus {
  outline : none;
}

.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child {
  border : none;
}

.claro .dijitSplitContainer-dijitContentPane, .claro .dijitBorderContainer-dijitContentPane {
  background-color : #333;
}

.dijitSplitterVHover {
  background-image : -moz-linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
  background-image : -webkit-linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
  background-image : -o-linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
  background-image : linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
}

.dijitSplitterVActive, .dijitSplitterVHover {
  background-color : #333 !important;
}

.dijitSplitterVHover .dijitSplitterThumb {
  background-color : white !important;
}

.actionNode {
  background-color : ghostwhite;
  border           : solid 1px silver;
  padding          : 3px;
  border-radius    : 3px;
}

.actionImg {
  width          : 16px;
  height         : 16px;
  margin         : 0 3px 0 3px;
  vertical-align : middle;
  cursor         : pointer;
}

#topToolbar {
  height         : 20px;
  padding        : 15px 15px 15px 50px;
  vertical-align : middle;
  overflow       : hidden;
  color          : white;
  text-shadow    : 1px 1px 0 black;
  background     : #555 url(./images/AGSItem32.png) no-repeat 10px;
  box-shadow     : inset 0 0 10px silver;
}

#appTitle {
  font-weight : bolder;
  font-size   : larger;
  text-shadow : 1px 1px 0 black;
}

#loggedInUser {
  float      : right;
  font-style : italic;
}

#typeContainer {
  width  : 450px;
  margin : 6px 3px 6px 6px;
}

#listContainer {
  margin : 6px 6px 6px 3px;
}

#typeContainer, #listContainer {
  border-radius    : 6px;
  border           : solid 1px silver;
  background-color : white;
}

#detailsPane {
  padding : 0 !important;
}

.panelInfo {
  height           : 1.5em !important;
  padding          : 0.5em 10px 0.5em 10px !important;
  color            : white;
  text-shadow      : 1px 1px 0 black;
  background-color : #444;
  border           : solid 3px white;
  box-shadow       : inset 0 0 5px silver;
}

.dijitToolbar {
  background-color : #ccc !important;
}

.actionBar {
  margin : 10px;
}

#expandoImage {
  cursor     : pointer;
  width      : 16px;
  height     : 16px;
  float      : right;
  background : url(./images/GenericLess16.png) no-repeat top right;
}

#expandoImage.expand {
  background : url(./images/GenericMore16.png) no-repeat top left !important;
}

#sourceItemsController span[widgetid="sourceItemsController_tagEditorPane"] {
  border-left  : solid 1px #333 !important;
  margin-left  : 15px;
  padding-left : 15px;
}

#sourceItemGallery {
  background-color : white;
}

.galleryContent {
  padding : 15px;
}

.galleryItem {
  float         : left;
  margin        : 10px;
  padding       : 10px;
  width         : 120px;
  height        : 110px;
  border-radius : 6px;
  box-shadow    : 0 0 3px silver;
}

.galleryItem:hover {
  cursor     : pointer;
  box-shadow : 0 0 15px #444;
}

.galleryItemTitle {
  height              : 1.5em;
  font-size           : smaller;
  font-weight         : bolder;
  color               : #666;
  white-space         : nowrap;
  overflow            : hidden;
  text-overflow       : ellipsis;
  padding-left        : 20px;
  background-position : 0 0 !important;
}

/*
.galleryItemType {
  position            : absolute;
  background-position : 0 0 !important;
  width               : 16px;
  height              : 16px;
  z-index             : 99;
  box-shadow          : 0 0 16px white;
}
*/

.galleryItemThumbnail {
  width         : 100px;
  height        : 66px;
  margin        : 5px;
  padding       : 4px;
  border-radius : 4px;
  box-shadow    : 0 0 2px #444;
}

#sourceItemsCount {
  padding       : 8px;
  color         : #555;
  font-size     : smaller;
  font-style    : italic;
  font-weight   : bolder;
  border-radius : 6px;
}

#searchPane {
  background-color : white;
}

#searchParametersPane {
  height           : 25%;
  background-color : #fff;
}

#searchQueryString {
  margin           : 5px;
  padding          : 15px;
  font-weight      : bolder;
  border           : dashed 1px silver;
  background-color : ghostwhite;
}

#searchQueryResultCount {
  /*float       : right;*/
  color       : darkgreen;
  font-weight : bolder;
  text-align  : center;
  margin      : 10px;
}

#parameterListPane {
  overflow : auto;
  border   : solid 2px #444;
}

.parameterLabelNode {
  font-size   : smaller;
  font-weight : bolder;
}

#parameterListPane .dijitTitlePaneContentInner {
  padding : 0 !important;
}

.parameterDescNode {
  padding          : 5px;
  color            : #555;
  font-size        : smaller;
  background-color : ghostwhite;
  border-bottom    : solid 1px silver;
}

.parameterInputsNode {
  margin : 20px;
}

.addParameterIcon {
  background : url(./images/AddParameter16.png) no-repeat 6px !important;
}

.paramButtonNode {
  margin : 10px;
}

.paramQuery {
  float            : left;
  margin           : 5px;
  padding          : 10px;
  background-color : ghostwhite;
  border           : solid 1px silver;
  border-radius    : 5px;
  box-shadow       : 0 0 5px silver;
}

.searching {
  padding-right : 25px !important;
  color         : white !important;
  background    : #555 url(./images/loadingAnimation.gif) no-repeat right !important;
  box-shadow    : inset 0 0 5px silver;
}

.placeHolder {
  font-weight : normal;
  color       : #AAAAAA;
  font-style  : italic;
}

:focus {
  outline : none !important;
}

.dijitToggleButton .dijitButtonNode {
  font-weight : normal !important;
  /*color       : #555 !important;*/

}

.dijitToggleButtonChecked .dijitButtonNode {
  font-weight   : bolder !important;
  font-style    : italic;
  border-color  : silver !important;
  border-radius : 10px !important;
}

.dijitToggleButtonHover .dijitButtonNode, .dijitToggleButtonActive .dijitButtonNode {
  background-color : silver !important;
  border-color     : gray !important;
  border-radius    : 10px !important;
}

#sourceListsContainer .dijitContentPane, #registerServicesPane .dijitContentPane, #listContainer .dijitContentPane[region="center"] {
  margin  : 0 !important;
  padding : 0 !important;
}

#optionsContainer {
  background-color : ghostwhite;
}

#csvOutputPane, #tagEditorPane, #registerServicesPane {
  padding : 0 !important;
}

#csvTextPane {
  overflow         : auto;
  border           : solid 1px silver;
  background-color : #eee !important;
}

#tagEditorPane, #syncCountsPane {
  /*margin        : 30px;
  border        : solid 2px #777 !important;
  box-shadow    : 0 0 10px #888;
  border-radius : 3px;*/
}

#tagEditorPane .dijitContentPane, #syncCountsPane .dijitContentPane {
  margin  : 0 !important;
  padding : 0 !important;
}

.tagEditorDialogContentArea {
  width   : 450px;
  height  : 50px;
  padding : 25px !important;
}

.tagEditorDialogContentArea .dijitTextBox {
  width : 100%;
}

.tagListEditorDialogContentArea {
  width  : 450px;
  height : 50px;
  margin : 20px;
}

.actionMessageNode {
  float          : left;
  vertical-align : middle;
  color          : #666;
  font-style     : italic;
  font-size      : smaller;
}

.optionLabel {
  padding     : 10px;
  font-size   : larger;
  font-weight : bolder;
}

.selectAllIcon {
  background : url(./images/Select_All.png) no-repeat 4px !important;
}

.selectNoneIcon {
  background : url(./images/Select_None.png) no-repeat 4px !important;
}

.dijitDisabled .selectNoneIcon {
  background : url(./images/Select_NoneDisabled.png) no-repeat 4px !important;
}

.descNode {
  max-height : 3em;
  overflow   : auto !important;
}

.field-thumbnailUrl {
  width      : 150px;
  text-align : center;
}

.field-serviceName {
  width : 200px;
}

.field-owner {
  text-align    : right;
  width         : 140px;
  padding-right : 10px;
}

.field-owner[role="columnheader"] {
  text-align : left !important;
}

.field-id {
  width : 300px;
}

.field-access {
  width : 100px;
}

.field-type {
  width : 250px;
}

.serverAction {
  color       : #555;
  font-weight : bolder;
  font-size   : smaller;
}

.serverAction:hover {
  color           : #222;
  cursor          : pointer;
  text-decoration : underline;
}

.serverListDialog .dijitDialogPaneContentArea {
  margin  : 0 !important;
  padding : 0 !important;
}

.serverList {
  min-width  : 600px;
  min-height : 300px;
  padding    : 0;
  margin     : 0;
}

.serverItem {
  margin           : 3px;
  padding          : 5px;
  background-color : #eee;
}

.serverItem:hover {
  cursor           : pointer;
  color            : #eee;
  background-color : #666;
}

.serverUrl {
  color     : #666;
  font-size : smaller;
}

.serverItem:hover > .serverUrl {
  color : #ccc;
}

.removeServer {
  display          : none;
  float            : right;
  width            : 16px;
  height           : 16px;
  padding          : 2px;
  border-radius    : 10px;
  font-size        : smaller;
  text-align       : center;
  vertical-align   : middle;
  /*font-size        : larger;*/
  /*color            : #fff;*/
  /*background-color : red;*/
  color            : red;
  background-color : #eee;
  box-shadow       : 0 0 2px #fff;
}

.removeServer:hover {
  font-weight      : bolder;
  color            : #fff;
  background-color : red;
  box-shadow       : 0 0 8px #eee;
}

.serverItem:hover > .removeServer {
  display : inline-block;
}

.noServers {
  color     : #ccc;
  font-size : 2em;
  padding   : 20%;
}

.dijitIcon {
  width  : 22px;
  height : 22px;
}

.listItem {
  padding-left : 26px !important;
}

.itemDetails {
  display    : none;
  color      : gray !important;
  font-size  : small;
  clear      : both;
  text-align : right;
  width      : 100%;
}

.dgrid-selected .itemDetails {
  display : inline-block;
}

.rootFolder {
  font-style : italic !important;
  /*font-weight : bolder !important;*/
}

.treeIcon {
  width  : 16px;
  height : 16px;
}

.folderItem {
  background : url(./images/Folder16.png) no-repeat 4px !important;
}

.tagItem {
  background : url(./images/GenericTag16.png) no-repeat 4px !important;
}

.favoriteItem {
  background : url(./images/yellow-star.png) no-repeat 4px !important;
}

.selectableTagItem {
  padding : 3px !important;
}

.groupItem {
  background : url(./images/Group.png) no-repeat 4px !important;
}

.searchItem {
  background : url(./images/GenericSearch16.png) no-repeat 4px !important;
}

.dijitDisabled .folderItem, .folderItem.paneDisabled {
  background : url(./images/Folder16Disabled.png) no-repeat 4px !important;
}

.dijitDisabled .tagItem, .tagItem.paneDisabled {
  background : url(./images/GenericTag16Disabled.png) no-repeat 4px !important;
}

.dijitDisabled .groupItem, .groupItem.paneDisabled {
  background : url(./images/GroupDisabled.png) no-repeat 4px !important;
}

.dijitDisabled .searchItem {
  background : url(./images/GenericSearch16Disabled.png) no-repeat 4px !important;
}

.tagEditorIcon {
  background : url(./images/EditTag16.png) no-repeat 4px !important;
}

.exportIcon {
  background : url(./images/export.png) no-repeat center !important;
}

.detailsIcon {
  background : url(./images/ViewDetails16.png) no-repeat center !important;
}

.galleryIcon {
  background : url(./images/ViewGallery16.png) no-repeat center !important;
}

.removeTagIcon {
  background : url(./images/DeleteTag16.png) no-repeat 6px !important;
}

.addNewTagIcon {
  background : url(./images/AddTag16.png) no-repeat 6px !important;
}

.replaceTagIcon {
  background : url(./images/ReplaceTag16.png) no-repeat center !important;
}

.dijitDisabled .removeTagIcon {
  background : url(./images/DeleteTag16Disabled.png) no-repeat 6px !important;
}

.dijitDisabled .addNewTagIcon {
  background : url(./images/AddTag16Disabled.png) no-repeat 6px !important;
}

.dijitDisabled .replaceTagIcon {
  background : url(./images/ReplaceTag16Disabled.png) no-repeat center !important;
}

.applyParamsIcon {
  background : url(./images/GenericSearch16.png) no-repeat center !important;
}

.dijitDisabled .applyParamsIcon {
  background : url(./images/GenericSearch16Disabled.png) no-repeat center !important;
}

.clearParamsIcon {
  background : url(./images/GenericSearchClear16.png) no-repeat center !important;
}

.countsIcon {
  background : url(./images/Numberes16.png) no-repeat center !important;
}

.getCountsIcon {
  background : url(./images/GetNumberes16.png) no-repeat center !important;
}

.syncCountsIcon {
  background : url(./images/SyncNumberes16.png) no-repeat center !important;
}

.advancedIcon {
  background : url(./images/Advanced16.png) no-repeat center !important;
}

.lessThanOne {
  color : red;
}

.atLeastOne {
  color : green;
}

.itemThumbnail {
  max-height : 40px;
  border     : solid 1px silver;
}

.iconItem {
  padding-left : 24px !important;
}

.iconFileGeodatabase {
  background : url(./images/Geodatabase16.png) no-repeat 4px;
}

.iconWebMap, .iconCityEngineWebScene {
  background : url(./images/WebMap.png) no-repeat 4px;
}

.iconExplorerMap, .iconOperationView, .iconMapPackage, .iconMapDocument {
  background : url(./images/MapPackage.png) no-repeat 4px;
}

.iconWebScene, .iconProMap {
  background : url(./images/AddGreen16.png) no-repeat 4px;
}

.iconMapService, .iconFeatureService, .iconGlobeService, .iconImageService, .iconKML, .iconWMS {
  background : url(./images/MapService.png) no-repeat 4px;
}

.iconGeoprocessingService, .iconNetworkAnalysisService, .iconGeometryService, .iconGeocodingService {
  background : url(./images/GeoprocessingService.png) no-repeat 4px;
}

.iconLayer, .iconLayerPackage {
  background : url(./images/LayerPackage.png) no-repeat 4px;
}

.iconCodeSample, .iconOperationsDashboardAddIn, .iconExplorerAddIn, .iconCodeAttachment, .iconDesktopApplicationTemplate {
  background : url(./images/CodeSample.png) no-repeat 4px;
}

.iconServiceDefinition, .iconCSV, .iconShapefile {
  background : url(./images/ServiceDefinition.png) no-repeat 4px;
}

.iconApplication, .iconWebMappingApplication, .iconMobileApplication {
  background : url(./images/WebMappingApplication.png) no-repeat 4px;
}

.iconSymbolSet, .iconColorSet, .iconFeatureCollection, .iconFeatureCollectionTemplate, .iconFeaturedItems {
  background : url(./images/ItemInformation16.png) no-repeat 4px;
}

.iconMapServer, .iconFeatureServer {
  background : url(./images/ServiceNetwork16.png) no-repeat 4px;
}

.iconGPServer {
  background : url(./images/ServiceGeoprocessing16.png) no-repeat 4px;
}

.iconImageServer {
  background : url(./images/ServiceImage16.png) no-repeat 4px;
}

.iconNAServer {
  background : url(./images/ServiceNA16.png) no-repeat 4px;
}

.iconGlobeServer {
  background : url(./images/ServiceGlobe16.png) no-repeat 4px;
}

.iconGeodataServer {
  background : url(./images/ServiceGeodata16.png) no-repeat 4px;
}

.iconGeocodeServer {
  background : url(./images/ServiceGeocoding16.png) no-repeat 4px;
}

.iconGeometryServer {
  background : url(./images/ServiceGeometry16.png) no-repeat 4px;
}

.iconMobileServer {
  background : url(./images/ServiceMobile16.png) no-repeat 4px;
}

.error {
  color : red;
}

.getServerFoldersIcon {
  background : url(./images/ServerArcGIS16.png) no-repeat 4px;
}

.saveServerIcon {
  background : url(./images/ServerGenericAdd16.png) no-repeat 4px;
}

.loadServerIcon {
  background : url(./images/ServersFolder16.png) no-repeat 4px;
}

.registerServicesIcon {
  background : url(./images/FolderWithGISDataAdd16.png) no-repeat 4px;
}

.dijitDisabled .registerServicesIcon {
  background : url(./images/FolderWithGISDataAdd16Disabled.png) no-repeat 4px;
}

.commonPropsIcon {
  background : url(./images/ItemInformation16.png) no-repeat 4px;
}

.dgrid {
  width   : 100% !important;
  height  : 100% !important;
  margin  : 0 !important;
  padding : 0 !important;
  border  : none !important;
}

#listContainer .dgrid-header, #listContainer .dgrid-header-scroll {
  border-bottom : solid 1px silver;
}

.paneDisabled {
  color  : gray !important;
  cursor : default !important;
}

.dgrid-header, .dgrid-header:hover, .dgrid-header-scroll, .dgrid-cell[role="columnheader"]:hover {
  background : none !important;
}

.dgrid-hider-menu {
  border-color : gray !important;
}

.dgrid-no-data, .dgrid-loading {
  color      : gray;
  font-size  : 1.5em;
  padding    : 1.5em;
  text-align : center;
}

.dgrid-row {
  cursor        : pointer;
  padding       : 5px 0 5px 0;
  border-bottom : solid 1px silver;
}

#sourceItemList .dgrid-row:hover {
  background : #ddd !important;
}

.dgrid-selector {
  width : 26px;
}

.dgrid-cell {
  height         : 1em;
  border         : none !important;
  vertical-align : middle;
}

.dgrid-cell[role="columnheader"] {
  padding-left     : 10px;
  border-right     : solid 1px silver !important;
  background-color : ghostwhite;
}

#tagListPane .removeNode {
  background-position : 300px;
}

#tagListPane .removeNode .dgrid-selected {
  background-position : right;
}

.dialogContentPane {
  min-width  : 500px;
  min-height : 100px;
  max-height : 600px;
  overflow   : auto;
}

.tags-list-pane {
  margin           : 5px 10px 5px 10px;
  color            : #444;
  background-color : #fff;
  border           : solid 1px #ddd;
}

.tag-list-node {
  padding    : 5px;
  border-top : solid 1px #ddd;
}

.tag-list-node:hover {
  color            : #eee !important;
  background-color : #666 !important;
}

.tag-list-node:hover > .tag-list-clear {
  display : inline;
}

.tag-list-item {
  padding-left : 24px;
  cursor       : pointer;
}

.tag-list-clear {
  width   : 32px;
  height  : 24px;
  float   : right;
  cursor  : pointer;
  display : none;
}

.dgrid-selected {
  font-weight      : bolder !important;
  background-color : #ddd !important;
}

.dgrid-selected.folderItem {
  background-image : url(./images/FolderOpenState16.png) !important;
}

.esriSignInDialog {
  border        : solid 1px silver !important;
  border-radius : 6px;
}

.esriSignInDialog .dijitDialogTitleBar {
  padding       : 5px !important;
  border        : none !important;
  background    : #555 none !important;
  box-shadow    : inset 0 0 5px silver;
  border-radius : 4px 4px 0 0;
}

.esriSignInDialog .dijitDialogTitle {
  color       : #eee;
  font-weight : bolder !important;
}

.esriSignInDialog .dijitDialogPaneContent {
  border           : none !important;
  background-color : silver !important;
  border-radius    : 0 0 4px 4px;
}

.esriSignInDialog .dijitDialogPaneContentArea {
  background-color : silver !important;
  border           : none !important;
}

.esriSignInDialog .dijitDialogPaneActionBar {
  background-color : #555 !important;
  box-shadow       : inset 0 0 5px silver;
  border           : none !important;
  border-radius    : 0 0 4px 4px;
}

.esriSignInDialog .dijitButtonNode {
  color        : #eee !important;
  background   : #333 !important;
  border-color : #444 !important;
}

.esriSignInDialog .dijitButtonNode:hover {
  box-shadow : 0 0 5px #222;
}

.esriSignInDialog .dijitButtonText {
  color : #ccc !important;
}

.esriSignInDialog .dijitButtonText:hover {
  color : #eee !important;
}

/*
.esriSignInDialog .dijitDialogTitleBar, .esriSignInDialog .dijitDialogTitle, .esriSignInDialog .dijitButtonNode {
  color: white !important;
  background: #555 !important;
  border-color: #555 !important;
}

.esriSignInDialog, .esriSignInDialog .dijitDialogPaneContent {
  color: black !important;
  background: silver !important;
  border-color: silver !important;
}

.esriSignInDialog .dijitDialogPaneActionBar {
  background: #ccc !important;
  border-color: #ccc !important;
}

.esriSignInDialog .dijitButtonNode:hover {
  background: #111 !important;
  border-color: #333 !important;
}
*/

.access {
  float         : right;
  font-size     : x-small;
  color         : #999;
  padding-right : 10px;
}

.notInPortal {
  text-decoration-line : line-through !important;
}

.access-public {
  color : #333;
}

.access-org {
  color : #666;
}

.access-private {
  color : #999;
}

.panelItem {
  height  : 30px;
  padding : 0 35px 0 35px;
}

.portalUrlNode {
  cursor  : pointer;
  width   : 350px;
  margin  : 2px;
  padding : 4px;
}

.portalUrlNode:hover {
  color            : #eee;
  text-shadow      : 1px 1px 3px #111;
  background-color : #444;
}


