html, body, #mainContainer {
  height           : 100%;
  width            : 100%;
  margin           : 0;
  padding          : 0;
  font-family      : "helvetica", sans-serif;
  background-color : silver;
}

.dijitSplitterVHover {
  background-image : -moz-linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
  background-image : -webkit-linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
  background-image : -o-linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
  background-image : linear-gradient(top, silver 0px, rgba(255, 255, 255, 0) 50%, silver 100%) !important;
}

.dijitSplitterVActive, .dijitSplitterVHover {
  background-color : #333 !important;
}

.dijitSplitterVHover .dijitSplitterThumb {
  background-color : white !important;
}

.actionNode {
  background-color : ghostwhite;
  border           : solid 1px silver;
  padding          : 3px;
  border-radius    : 3px;
}

.actionImg {
  width          : 16px;
  height         : 16px;
  margin         : 0 3px 0 3px;
  vertical-align : middle;
  cursor         : pointer;
}

#topToolbar {
  height         : 20px;
  padding        : 15px 15px 15px 50px;
  vertical-align : middle;
  overflow       : hidden;
  color          : white;
  text-shadow    : 1px 1px 0 black;
  background     : #555 url(./images/AGSItem32.png) no-repeat 10px;
  box-shadow     : inset 0 0 10px silver;
}

#appTitle {
  font-weight : bolder;
  font-size   : larger;
  text-shadow : 1px 1px 0 black;
}

#loggedInUser {
  float      : right;
  font-style : italic;
}

#typeContainer {
  width  : 500px;
  margin : 20px 8px 20px 20px;
}

#listContainer {
  margin : 20px 20px 20px 8px;
}

#typeContainer, #listContainer {
  border-radius    : 6px;
  border           : solid 1px silver;
  background-color : white;
}

#detailsPane {
  padding : 0 !important;
}

.panelInfo {
  height           : 1.5em !important;
  padding          : 0.5em 10px 0.5em 10px !important;
  color            : white;
  text-shadow      : 1px 1px 0 black;
  background-color : #444;
  border           : solid 3px white;
  box-shadow       : inset 0 0 5px silver;
}

.dijitToolbar {
  background-color : #ccc !important;
}

.actionBar {
  margin : 10px;
}

#expandoImage {
  cursor     : pointer;
  width      : 16px;
  height     : 16px;
  float      : right;
  background : url(./images/GenericLess16.png) no-repeat top right;
}

#expandoImage.expand {
  background : url(./images/GenericMore16.png) no-repeat top left !important;
}

#sourceItemGallery {
  background-color : white;
}

.galleryContent {
  padding : 15px;
}

.galleryItem {
  float         : left;
  margin        : 10px;
  padding       : 10px;
  width         : 120px;
  height        : 110px;
  border-radius : 6px;
  box-shadow    : 0 0 3px silver;
}

.galleryItem:hover {
  cursor     : pointer;
  box-shadow : 0 0 15px #444;
}

.galleryItemTitle {
  height              : 1.5em;
  font-size           : smaller;
  font-weight         : bolder;
  color               : #666;
  white-space         : nowrap;
  overflow            : hidden;
  text-overflow       : ellipsis;
  padding-left        : 20px;
  background-position : 0 0 !important;
}

/*
.galleryItemType {
  position            : absolute;
  background-position : 0 0 !important;
  width               : 16px;
  height              : 16px;
  z-index             : 99;
  box-shadow          : 0 0 16px white;
}
*/

.galleryItemThumbnail {
  width         : 100px;
  height        : 66px;
  margin        : 5px;
  padding       : 4px;
  border-radius : 4px;
  box-shadow    : 0 0 2px #444;
}

#sourceItemsCount {
  padding       : 8px;
  color         : #555;
  font-size     : smaller;
  font-style    : italic;
  font-weight   : bolder;
  border-radius : 6px;
}

#searchPane {
  background-color : white;
}

#searchQueryString {
  margin           : 5px;
  padding          : 15px;
  font-weight      : bolder;
  border           : dashed 1px silver;
  background-color : ghostwhite;
}

#searchQueryResultCount {
  /*float       : right;*/
  color       : darkgreen;
  font-weight : bolder;
  text-align  : center;
  margin      : 10px;
}

#parameterListPane {
  overflow : auto;
  border   : solid 2px #444;
}

.parameterLabelNode {
  font-size   : smaller;
  font-weight : bolder;
}

#parameterListPane .dijitTitlePaneContentInner {
  padding : 0 !important;
}

.parameterDescNode {
  padding          : 5px;
  color            : #555;
  font-size        : smaller;
  background-color : ghostwhite;
  border-bottom    : solid 1px silver;
}

.parameterInputsNode {
  margin : 20px;
}

.addParameterIcon {
  background : url(./images/AddParameter16.png) no-repeat 6px !important;
}

.paramButtonNode {
  margin : 10px;
}

.paramQuery {
  float            : left;
  margin           : 5px;
  padding          : 10px;
  background-color : ghostwhite;
  border           : solid 1px silver;
  border-radius    : 5px;
  box-shadow       : 0 0 5px silver;
}

.searching {
  padding-right : 25px !important;
  color         : white !important;
  background    : #555 url(./images/loadingAnimation.gif) no-repeat right !important;
  box-shadow    : inset 0 0 5px silver;
}

.placeHolder {
  font-weight : normal;
  color       : #AAAAAA;
  font-style  : italic;
}

:focus {
  outline : none !important;
}

.dijitToggleButton .dijitButtonNode {
  font-weight : normal !important;
  /*color       : #555 !important;*/

}

.dijitToggleButtonChecked .dijitButtonNode {
  font-weight   : bolder !important;
  font-style    : italic;
  border-color  : silver !important;
  border-radius : 10px !important;
}

.dijitToggleButtonHover .dijitButtonNode, .dijitToggleButtonActive .dijitButtonNode {
  background-color : silver !important;
  border-color     : gray !important;
  border-radius    : 10px !important;
}

#sourceListsContainer .dijitContentPane, #listContainer .dijitContentPane[region="center"] {
  margin  : 0 !important;
  padding : 0 !important;
}

#optionsContainer {
  background-color : ghostwhite;
}

#tagEditorPane, #syncCountsPane {
  /*margin        : 30px;
  border        : solid 2px #777 !important;
  box-shadow    : 0 0 10px #888;
  border-radius : 3px;*/
}

#tagEditorPane .dijitContentPane, #syncCountsPane .dijitContentPane {
  margin  : 0 !important;
  padding : 0 !important;
}

.tagEditorDialogContentArea {
  width   : 450px;
  height  : 50px;
  padding : 25px !important;
}

.tagEditorDialogContentArea .dijitTextBox {
  width : 100%;
}

.actionMessageNode {
  float          : left;
  vertical-align : middle;
  color          : gray;
  font-style     : italic;
  font-size      : smaller;
}

.optionLabel {
  padding     : 10px;
  font-size   : larger;
  font-weight : bolder;
}

.selectAllIcon {
  background : url(./images/Select_All.png) no-repeat 4px !important;
}

.selectNoneIcon {
  background : url(./images/Select_None.png) no-repeat 4px !important;
}

.dijitDisabled .selectNoneIcon {
  background : url(./images/Select_NoneDisabled.png) no-repeat 4px !important;
}

.descNode {
  max-height : 3em;
  overflow   : auto !important;
}

.field-thumbnailUrl {
  width      : 150px;
  text-align : center;
}

.dijitIcon {
  width  : 22px;
  height : 22px;
}

.listItem {
  padding-left : 26px !important;
}

.itemDetails {
  display    : none;
  color      : gray !important;
  font-size  : small;
  clear      : both;
  text-align : right;
  width      : 100%;
}

.dgrid-selected .itemDetails {
  display : inline-block;
}

.rootFolder {
  font-style : italic !important;
}

.folderItem {
  background : url(./images/Folder16.png) no-repeat 4px !important;
}

.tagItem {
  background : url(./images/GenericTag16.png) no-repeat 4px !important;
}

.favoriteItem {
  background : url(./images/yellow-star.png) no-repeat 4px !important;
}

.selectableTagItem {
  padding : 3px !important;
}

.groupItem {
  background : url(./images/Group.png) no-repeat 4px !important;
}

.searchItem {
  background : url(./images/GenericSearch16.png) no-repeat 4px !important;
}

.dijitDisabled .folderItem, .folderItem.paneDisabled {
  background : url(./images/Folder16Disabled.png) no-repeat 4px !important;
}

.dijitDisabled .tagItem, .tagItem.paneDisabled {
  background : url(./images/GenericTag16Disabled.png) no-repeat 4px !important;
}

.dijitDisabled .groupItem, .groupItem.paneDisabled {
  background : url(./images/GroupDisabled.png) no-repeat 4px !important;
}

.dijitDisabled .searchItem {
  background : url(./images/GenericSearch16Disabled.png) no-repeat 4px !important;
}

.tagEditorIcon {
  background : url(./images/EditTag16.png) no-repeat 4px !important;
}

.exportIcon {
  background : url(./images/export.png) no-repeat center !important;
}

.detailsIcon {
  background : url(./images/ViewDetails16.png) no-repeat center !important;
}

.galleryIcon {
  background : url(./images/ViewGallery16.png) no-repeat center !important;
}

.removeTagIcon {
  background : url(./images/DeleteTag16.png) no-repeat 6px !important;
}

.addNewTagIcon {
  background : url(./images/AddTag16.png) no-repeat 6px !important;
}

.replaceTagIcon {
  background : url(./images/ReplaceTag16.png) no-repeat center !important;
}

.dijitDisabled .removeTagIcon {
  background : url(./images/DeleteTag16Disabled.png) no-repeat 6px !important;
}

.dijitDisabled .addNewTagIcon {
  background : url(./images/AddTag16Disabled.png) no-repeat 6px !important;
}

.dijitDisabled .replaceTagIcon {
  background : url(./images/ReplaceTag16Disabled.png) no-repeat center !important;
}

.applyParamsIcon {
  background : url(./images/GenericSearch16.png) no-repeat center !important;
}

.dijitDisabled .applyParamsIcon {
  background : url(./images/GenericSearch16Disabled.png) no-repeat center !important;
}

.clearParamsIcon {
  background : url(./images/GenericSearchClear16.png) no-repeat center !important;
}

.countsIcon {
  background : url(./images/Numberes16.png) no-repeat center !important;
}

.getCountsIcon {
  background : url(./images/GetNumberes16.png) no-repeat center !important;
}

.syncCountsIcon {
  background : url(./images/SyncNumberes16.png) no-repeat center !important;
}

.advancedIcon {
  background : url(./images/Advanced16.png) no-repeat center !important;
}

.lessThanOne {
  color : red;
}

.atLeastOne {
  color : green;
}

.itemThumbnail {
  max-height : 40px;
  border     : solid 1px silver;
}

.iconItem {
  padding-left : 24px !important;
}

.iconWebMap, .iconCityEngineWebScene {
  background : url(./images/WebMap.png) no-repeat 4px;
}

.iconExplorerMap, .iconOperationView, .iconMapPackage, .iconMapDocument {
  background : url(./images/MapPackage.png) no-repeat 4px;
}

.iconMapService, .iconFeatureService, .iconGlobeService, .iconImageService, .iconKML, .iconWMS {
  background : url(./images/MapService.png) no-repeat 4px;
}

.iconGeoprocessingService, .iconNetworkAnalysisService, .iconGeometryService, .iconGeocodingService {
  background : url(./images/GeoprocessingService.png) no-repeat 4px;
}

.iconLayer, .iconLayerPackage {
  background : url(./images/LayerPackage.png) no-repeat 4px;
}

.iconCodeSample, .iconOperationsDashboardAddIn, .iconExplorerAddIn, .iconCodeAttachment, .iconDesktopApplicationTemplate {
  background : url(./images/CodeSample.png) no-repeat 4px;
}

.iconServiceDefinition, .iconCSV, .iconShapefile {
  background : url(./images/ServiceDefinition.png) no-repeat 4px;
}

.iconApplication, .iconWebMappingApplication, .iconMobileApplication {
  background : url(./images/WebMappingApplication.png) no-repeat 4px;
}

.iconSymbolSet, .iconColorSet, .iconFeatureCollectionTemplate, .iconFeaturedItems {
  background : url(./images/ItemInformation16.png) no-repeat 4px;
}

.dgrid {
  width   : 100% !important;
  height  : 100% !important;
  margin  : 0 !important;
  padding : 0 !important;
  border  : none !important;
}

#listContainer .dgrid-header, #listContainer .dgrid-header-scroll {
  border-bottom : solid 1px silver;
}

.paneDisabled {
  color  : gray !important;
  cursor : default !important;
}

.dgrid-header, .dgrid-header:hover, .dgrid-header-scroll, .dgrid-cell[role="columnheader"]:hover {
  background : none !important;
}

.dgrid-hider-menu {
  border-color : gray !important;
}

.dgrid-no-data, .dgrid-loading {
  color      : gray;
  font-size  : 1.5em;
  padding    : 1.5em;
  text-align : center;
}

.dgrid-row {
  cursor        : pointer;
  padding       : 5px 0 5px 0;
  border-bottom : solid 1px silver;
}

#sourceItemList .dgrid-row:hover {
  background : #ddd !important;
}

.dgrid-selector {
  width : 26px;
}

.dgrid-cell {
  height         : 1em;
  border         : none !important;
  vertical-align : middle;
}

.dgrid-cell[role="columnheader"] {
  padding-left     : 10px;
  border-right     : solid 1px silver !important;
  background-color : ghostwhite;
}

#tagListPane .removeNode {
  background-position : 300px;
}

#tagListPane .removeNode .dgrid-selected {
  background-position : right;
}

.dgrid-selected {
  font-weight      : bolder !important;
  background-color : #ddd !important;
}

.dgrid-selected.folderItem {
  background-image : url(./images/FolderOpenState16.png) !important;
}

.esriSignInDialog {
  border        : solid 1px silver !important;
  border-radius : 6px;
}

.esriSignInDialog .dijitDialogTitleBar {
  padding       : 5px !important;
  border        : none !important;
  background    : #555 none !important;
  box-shadow    : inset 0 0 5px silver;
  border        : none !important;
  border-radius : 4px 4px 0 0;
}

.esriSignInDialog .dijitDialogTitle {
  color       : #eee;
  font-weight : bolder !important;
}

.esriSignInDialog .dijitDialogPaneContent {
  border           : none !important;
  background-color : silver !important;
  border-radius    : 0 0 4px 4px;
}

.esriSignInDialog .dijitDialogPaneContentArea {
  background-color : silver !important;
  border           : none !important;
}

.esriSignInDialog .dijitDialogPaneActionBar {
  background-color : #555 !important;
  box-shadow       : inset 0 0 5px silver;
  border           : none !important;
  border-radius    : 0 0 4px 4px;
}

.esriSignInDialog .dijitButtonNode {
  color        : #eee !important;
  background   : #333 !important;
  border-color : #444 !important;
}

.esriSignInDialog .dijitButtonNode:hover {
  box-shadow : 0 0 5px #222;
}

.esriSignInDialog .dijitButtonText {
  color : #ccc !important;
}

.esriSignInDialog .dijitButtonText:hover {
  color : #eee !important;
}

/*
.esriSignInDialog .dijitDialogTitleBar, .esriSignInDialog .dijitDialogTitle, .esriSignInDialog .dijitButtonNode {
  color: white !important;
  background: #555 !important;
  border-color: #555 !important;
}

.esriSignInDialog, .esriSignInDialog .dijitDialogPaneContent {
  color: black !important;
  background: silver !important;
  border-color: silver !important;
}

.esriSignInDialog .dijitDialogPaneActionBar {
  background: #ccc !important;
  border-color: #ccc !important;
}

.esriSignInDialog .dijitButtonNode:hover {
  background: #111 !important;
  border-color: #333 !important;
}
*/

